html, body {
	height: 200%;
	min-height: 200%;
	margin: 0;
}

#root {
	position: relative;
	height: 100%;
	width: 200vw;
	overflow: scroll;
}

body {
	margin: 0;
	position: relative;
	background: black;
}

.layer {
	position: absolute;
	object-fit: cover;
	object-position: right;
	display: block;
}

.isRight {
	right: 0;
}

.isBottom {
	bottom: 0;
}
